<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gsh.genidxpage.dao.IndexContentMapper">
  <select id="selectAll" resultType="org.gsh.genidxpage.vo.IndexContent">
    SELECT plp.year, plp.month, p.raw_html
    FROM post_list_page plp
      INNER JOIN post p
      ON plp.id = p.parent_page_id;
  </select>
</mapper>
