<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gsh.genidxpage.dao.PostListPageMapper">
  <insert id="insertPostListPage" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.PostListPage">

    INSERT INTO post_list_page (year,
                                month,
                                url,
                                created_at)
    VALUES (#{year},
            #{month},
            #{url},
            #{createdAt})
  </insert>

  <select id="selectPostListPageByYearMonth" resultType="org.gsh.genidxpage.entity.PostListPage">
    SELECT id,
           year,
           month,
           url
    FROM post_list_page
    WHERE year = #{year}
      AND month = #{month}
      AND deleted_at IS NULL
  </select>

  <update id="updatePostListPage" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.PostListPage">
    UPDATE post_list_page
    SET url        = #{url},
        updated_at = #{updatedAt}
    WHERE year = #{year}
      AND month = #{month}
  </update>
</mapper>
