<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gsh.genidxpage.dao.PostListPageMapper">
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.PostListPage">

    INSERT INTO post_list_page (post_group_type_id,
                                group_key,
                                url,
                                created_at)
    VALUES (1,
            #{groupKey},
            #{url},
            #{createdAt})
  </insert>

  <select id="selectByGroupKey" resultType="org.gsh.genidxpage.entity.PostListPage">
    SELECT id,
           post_group_type_id,
           group_key,
           url
    FROM post_list_page
    WHERE group_key = #{groupKey}
      AND deleted_at IS NULL
  </select>

  <update id="update" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.PostListPage">
    UPDATE post_list_page
    SET url        = #{url},
        updated_at = #{updatedAt}
    WHERE group_key = #{groupKey}
  </update>
</mapper>
