<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gsh.genidxpage.dao.WebArchiveReportMapper">
  <insert id="insertReport" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.ArchiveStatus">

    INSERT INTO post_list_page_status (year,
                          month,
                          page_exists,
                          created_at)
    VALUES (#{year},
            #{month},
            #{pageExists},
            #{createdAt})
  </insert>

  <select id="selectReportByYearMonth" resultType="org.gsh.genidxpage.entity.ArchiveStatus">
    SELECT `year`,
           `month`,
           page_exists
    FROM post_list_page_status
    WHERE `year` = #{year}
      AND `month` = #{month}
      AND deleted_at IS NULL
  </select>

  <update id="updateReport" useGeneratedKeys="true" keyProperty="id"
    parameterType="org.gsh.genidxpage.entity.ArchiveStatus">
    UPDATE post_list_page_status
    SET page_exists = #{pageExists},
        updated_at  = #{updatedAt}
    WHERE `year` = #{year}
      AND `month` = #{month}
  </update>

  <select id="selectByPageExists" resultType="org.gsh.genidxpage.entity.ArchiveStatus">
    SELECT year,
           month,
           page_exists
    FROM post_list_page_status
    WHERE page_exists = #{pageExists}
      AND deleted_at IS NULL
  </select>
</mapper>
